
body{
    margin: 0px;
    padding: 0px;
    background-color: beige;
    float: none;
    width: 100%;
} 


.header{
    background-color: rgb(146, 3, 115);
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}
a:link, a:visited{
    color: rgb(226, 224, 224);
    background-color:rgb(146, 3, 115);
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 20px;
}

a:hover, a:active{
    color: white;
}
#login{
    padding-left: 820px;
}
.container{
    background-color: white;
    display: inline-block;
    box-sizing: border-box;
    padding-bottom: 0px;
    padding-right: 100px;
    
    border-style: ridge;
    margin-left: 50px;
    margin-top: 10px;
    
}
h6{
    text-align: right;
    padding-right: 100px;
    font-family:cambria;
    line-height: 0px;
}
#foot{
    font-size: 20px;
    line-height: 0px;
}

.form{
    font-weight: bold;
    text-align: center;
    padding-left: 20px;
    font-size: 18px;
}
#name{
    border-radius: 6px;
    height: 30px;
}
.sidenote{
    color: red;
    text-align: left;
    font-size: 15px;
    padding-left: 150px;
    line-height: 0px;
    
}
h1{
    padding-left: 40px;
    font-family: helvetica;
}
button{
    color: white;
    background-color: rgb(65, 207, 89);
    border: 1px solid antiquewhite;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    
}
    
#login1{
    padding: 10px;
    background-color: rgb(81, 81, 247);
    color: antiquewhite;
    border-radius: 5px;
    margin-right: 1000px;
    border: 1px solid antiquewhite;
    cursor: pointer;
  
}
h5{
    padding-left: 30px;
    font-family: helvetica;
}

